/* Header / Navbar */

.header{
  z-index: 999;
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  padding: 10px 0;
}

.header a {
  font-size: 12px;
  text-decoration: none;
  color: black;
  font-family: "area-normal", sans-serif;
  font-weight: 800;
  font-style: bold;
  font-size: 12px;
  text-decoration: none;
  mix-blend-mode: color;
}

.header a:hover{
  color: transparent;
  transition: 0.3s;
}

.links {
  margin: 0 0 0 5px;
}
