/* Project Page*/
/* Responsive media */

@media (min-width: 600px) {
  .txt .article{
    position: fixed;
  }
}

@media (min-width:600px) {
  .projectpage{
    display: grid;
   /* max-width:1000px;*/
    grid-template-columns: repeat(2, 1fr);
    min-height: 99vh;
  }
}
/* Position */

.article{
  position: sticky;
  position: top;
  z-index: 1;
  margin-left: 5px;
  margin-right: 10px;
}

.projectpage .img {
  margin-bottom: 10px;
}

/* Text typo and color */

.guide {
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 8px;
  line-height: 0px;
  margin-top: 22px;
}

.txt {
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 10px;
  line-height: auto;
}

.txt .article .suivant{
  position: fixed;
  text-decoration: none;
  bottom: 15px;
  right: 10px;
}

a .txt {
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  color:black;
  text-decoration: underline;

}

.txt a:hover {
  color: transparent;
  transition: 0.3s;

}
