/* Responsive media */

@media (min-width:2000px) {
  .index{
    justify-content:center;
    margin: auto;
    display: grid;
    max-width: 2000px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}

@media (min-width:600px) and (max-width:1999px) {
  .index{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}

@media (min-width:400px) and (max-width:599px) {
  .index{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 399px) {
  .index{
    display: inline-block;
    width: 100%;
    margin: 10px;
    margin-left: 0;
  }

  .card-project {
    margin: 0;
    margin-bottom: 10px;
  }

  b {
    margin: 0;
    height: 0;
    width: 0;
  }
}

@media (min-width: 600px) {
  .projectpage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 99vh;
  }
  .txt .article{
    position: fixed;
    min-height: 100px;
    height: 100%;
    max-height: 1000px;
    overflow: auto;
  }
}
