/*@font-face {
    font-family: "hibana";
    src: local("Hibana-45SubMedium"),
      url("font/Hibana-45SubMedium.woff2") format("opentype");
  }

  @font-face {
    font-family: "spectral";
    src: local("Spectral-MediumItalic"),
      url("font/Spectral-MediumItalic.ttf") format("opentype");
  }

  cursor {
    cursor: url('source/autre/fleche.png'), auto;

  @font-face {
    font-family: "monument grotesk";
    src: local("MonumentGrotesk"), 
    url(font/MonumentGrotesk-Regular.woff2) format("opentype");
  }

  Area Normal:

  EXTRABOLD
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;

  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: italic;
  BLACK
  font-family: area-normal, sans-serif;
  font-weight: 900;
  font-style: normal;

  font-family: area-normal, sans-serif;
  font-weight: 900;
  font-style: italic;
  
  */

.guide {
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 8px;
  line-height: 0px;
  margin-top: 22px;
  }

.txt {
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 10px;
  line-height: auto;
}

@media (min-width: 600px) {
  .txt .sticky{
    position: fixed;
  }
}

.txt .sticky .suivant{
  position: fixed;
  text-decoration: none;
  bottom: 15px;
  right: 10px;
}

h1,h2,h3,h4,h5,h6{
  font-family: sans-serif;
  font-weight: 400; /*anti_faux-gras*/
}

img{
    width: 100%;
    display:block;
    height:auto;
}

.header{
  z-index: 1;
  display: grid;
  position: sticky;
  top: 0px;
  grid-template-columns: 1fr auto auto auto;
  gap: 10px;
  margin-top: 10px;
  align-items: baseline;  
}

.headerbis{
  z-index: 1;
  display: grid;
  position: sticky;
  top : 0px;
  grid-template-columns: 1fr auto auto auto;
  gap: 10px;
  align-items: baseline;
  background-color: white;
}

a {
  font-family: "area-normal", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: black;
}

.nom{
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 12px;
  text-decoration: none;
}

a.sommaire {
  font-family: "area-normal", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-decoration: none;
  font-size: 10px;
}

a .txt {
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  color:black;
  text-decoration: underline;
}


@media (min-width:2000px) {
  .grid{
    justify-content:center;
    margin: auto;
    display: grid;
    max-width: 2000px;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
@media (min-width:600px) and (max-width:1999px) {
  .grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
}
@media (min-width:400px) and (max-width:599px) {
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}
@media (max-width: 399px) {
  .grid{
    display: inline-block;
    width: 100%;
    margin: 10px;
    margin-left: 0;
  }
  .item-grid {
    margin: 0;
    margin-bottom: 10px;
  }
  b {
    margin: 0;
    height: 0;
    width: 0;
  }
}

.item-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  overflow: hidden;
}

.item {
  opacity: 100;
  grid-column: 1/-1;
  grid-row: 1/-1;
  transform: scale(1.1);
  transition: 0.5s;
  width: 100%;
}

.item-grid:hover .dessus{
  opacity:0;
  transform: scale(1);
}

.item-grid:hover .dessous{
  transform: scale(1);
}

@media (min-width:600px) {
  .projectpage{
    display: grid;
   /* max-width:1000px;*/
    grid-template-columns: repeat(2, 1fr);
    min-height: 99vh;
  }
}

.projectpage .img {
  margin-bottom: 10px;
}

.sticky{
  position: sticky;
  position: top;
  z-index: 1;
  margin-left: 5px;
  margin-right: 10px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th {
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-size: 8px;
  font-style: normal;
  text-align: left;
}

.td{
  font-family: area-normal, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 10px;
  text-decoration: none;
}
  
.tableau:hover{
  opacity: 0;
}

.titre:hover{
  font-weight: bold;
}

a.td {
  width: 100%;
  display: inline-block;
}