@font-face {
    font-family: "hibana";
    src: local("Hibana-45SubMedium"),
      url("font/Hibana-45SubMedium.woff2") format("opentype");
  }

  @font-face {
    font-family: "spectral";
    src: local("Spectral-MediumItalic"),
      url("font/Spectral-MediumItalic.ttf") format("opentype");
  }

  h1,h2,h3,h4,h5,h6{
    font-family: sans-serif;
    font-weight: 400; /*anti_faux-gras*/
}

img{
    width: 100%;
    display:block;
    height:auto;
}

.header{
  z-index: 1;
  display: grid;
  position: sticky;
  top: 0px;
  grid-template-columns: 1fr auto auto auto;
  gap: 10px;
  align-items: baseline;  
}

.headerbis{
  z-index: 1;
  display: grid;
  position: sticky;
  top : 0px;
  grid-template-columns: 1fr auto auto auto;
  gap: 10px;
  align-items: baseline;
  background-color: white;
}

body{
    font-family: 'hibana', sans-serif;
}

.txtcourant{
    font-size: 20px;
}

.annotation{
    font-size: 12px;
}

.nom{
  font-family: 'hibana', sans-serif;
  text-decoration: none;
}

a {
    font-family: 'spectral', serif;
    font-style: 'spectral', italic;
    color: currentColor;
}

a.sommaire {
    font-weight: 400; 
    text-decoration: none;
}

a .body {
    font-weight: 400;
    color:black;
    text-decoration: underline;
}

@media (min-width:400px) {
    .grid{
        display:grid;
        justify-content:center;
        max-width:1600px;
        margin: auto;
        grid-template-columns: repeat(auto-fit,200px);
        gap:10px;
    }
}

.item-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,200px);

  overflow: hidden;
}

.item {
  opacity: 100;
  grid-column: 1/-1;
  grid-row: 1/-1;
  transform: scale(1.1);
  transition: 0.5s;
  width: 200px;
}

.item-grid:hover .dessus{
  opacity:0;
  transform: scale(1);
}

.item-grid:hover .dessous{
  transform: scale(1);
}

@media (min-width:600px) {
  .projectpage{
    display: grid;
   /* max-width:1000px;*/
    grid-template-columns: repeat(2, 1fr);
    min-height: 99vh;
  }
}

.projectpage div:first-child {
  text-align: center;
}

.sticky{
  position: sticky;
  position: top;
  top: 100px;
  z-index: 1;
  margin-left: 5px;
  margin-right: 10px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 10px;
  text-align: left;
}

.td{
  font-size: 15px;
  font-family: 'hibana', sans-serif;
  text-decoration: none;
}
  
.tableau:hover{
  opacity: 0;
}

.titre:hover{
  font-weight: bold;
}

a.td {
  width: 100%;
}